
@{
    ViewBag.Title = "Noidung";
    Layout = "~/Views/layout/_LayoutPage1.cshtml";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style02.css" rel="stylesheet" />
</head>
<body>
    <style>
        body {
            background-color: white
        }

        footer{
            height:200px;
        }
    </style>
    <div class="anh_dep">
        <div class="menu_main">

            <div class="like"></div>
            <h6>Đánh giá:9.5/10 <span class="fa fa-star checked"></span></h6>
            <h1>Thanh Gươm diệt quỷ</h1>
            <p>Thể loại: Anime, Máu me</p>

            <p><i class="fa-solid fa-clock"></i>Thời lượng chiếu: 200p</p>
            <p>Khởi chiếu : 10/11/2019</p>
            <div class="long">
                <a href=""><i class="fa-solid fa-paper-plane"></i>Đặt vé ngay</a>
                <a href=""><i class="fa-solid fa-play"></i>Trailer</a>
            </div>
        </div>
    </div>
    <div class="hinhanh">
        <img src="~/Content/Images/httm.jpg" alt="">
    </div>
    <div class="noidung">
        <h5>Nội dung:</h5>
        <p>
            - Kamado Tanjirō là một cậu bé tốt bụng, thông minh sống cùng gia đình mình trên núi. Cậu trở thành trụ cột gia đình sau khi cha cậu qua đời, thường phải đi rất xa đến ngôi làng gần đó để bán than củi. Mọi chuyện hoàn toàn thay đổi khi một ngày cậu trở về nhà và phát hiện ra rằng cả gia đình mình đã bị một con quỷ tàn sát, chỉ còn em gái cậu,Nezuko là sống sót, tuy nhiên cô đã biến thành quỷ. Dẫu vậy, Nezuko vẫn cho thấy những dấu hiệu của cảm xúc và suy nghĩ con người.
            Sau cuộc chạm trán với Tanjirō, Tomioka Giyū – một thợ săn quỷ, đã gửi gắm cậu đến người thầy nay đã về ở ẩn của mình, Urokodaki Sakonji, để huấn luyện cậu trở thành một kiếm sĩ diệt quỷ, từ đây bắt đầu cuộc hành trình của Tanjirō đưa em gái cậu trở lại thành người và trả thù cho gia đình mình. <br />
            - Sau hai năm khổ luyện, Tanjirō cuối cùng cũng có thể tham gia kỳ sát hạch cuối cùng và là một trong số ít người sống sót vượt qua, chính thức trở thành thành viên của Sát Quỷ Đội. Cậu bắt đầu công việc săn lùng và tiêu diệt quỷ cùng Nezuko, vốn đã được Urokodaki thôi miên để không gây hại cho con người và đôi khi có thể sát cánh cùng anh trai mình trong những trận chiến. Khi đến Asakusa để làm nhiệm vụ, Tanjirō đã chạm trán Kibutsuji Muzan, tổ tiên của loài quỷ và là kẻ đã sát hại gia đình cậu. Cậu cũng gặp Tamayo, một con quỷ không bị Muzan kiểm soát. Tamayo liên minh với Tanjirō và tiến hành nghiên cứu cách chữa trị cho Nezuko, điều này yêu cầu Tanjirō phải cung cấp cho cô máu của Thập Nhị Quỷ Nguyệt, những con quỷ mạnh nhất dưới trướng Muzan.
        </p>
    </div>

</body>
</html>

