
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/layout/_LayoutPage1.cshtml";
}
<div class="hero-section">
    
    <div class="hero-slide">
        <div class="owl-carousel carousel-nav-center" id="hero-carousel">
            
            <div class="hero-slide-item">
                <img src="~/Content/Images/black-banner.png" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            <h1> Black Panther</h1>
                            <p>Chiến Binh Báo Đen</p>
                            <p>Khởi chiếu: 23/2/2018</p>
                        </div>
                       
                        <div class="item-action">
                            <a href="" class="btn btn-hover">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Mua vé</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-item">
                <img src="~/Content/Images/supergirl-banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            <h1> Super Girl</h1>
                            <p>Nữ Siêu Nhân</p>
                            <p>Khởi chiếu: 23/2/2021</p>
                        </div>
                       
                        <div class="item-action">
                            <a href="#" class="btn btn-hover">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Mua vé</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-slide-item">
                <img src="~/Content/Images/wanda-banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            <h1> WandaVision</h1>
                            <p>Wanda và Vision</p>
                            <p>Khởi chiếu: 23/2/2021</p>
                        </div>
                       
                        <div class="item-action">
                            <a href="#" class="btn btn-hover">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Mua vé</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-item">
                <img src="~/Content/Images/transformer-banner.jpg" alt="">
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            <h1> Transformers: The Last Knight</h1>
                            <p>Transformers: Chiến binh cuối cùng</p>
                            <p>Khởi chiếu: 23/2/2020</p>
                        </div>
                       
                        <div class="item-action">
                            <a href="#" class="btn btn-hover">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Mua vé</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide-item">
                <img src="~/Content/Images/quangcao.jpg" alt="" height="600">
               

        </div>
            
    </div>
</div>
    </div>
<div class="top-movies-slide">
    <div class="owl-carousel" id="top-movies-slide">

        <!-- MOVIE ITEM -->
        <div class="movie-item">
            <img src="~/Content/Images/khuyen.jpg" alt="">
           
        </div>
        
        <div class="movie-item">
            <img src="~/Content/Images/777.jpg" alt="">
           
        </div>
        <div class="movie-item">
            <img src="~/Content/Images/888.png" alt="">
            
        </div>
        <div class="movie-item">
            <img src="~/Content/Images/555.jpg" alt="">
           
                </div>
            </div>
        </div>
     
    


<div class="section">
    <div class="container">
        <div class="section-header">
            Phim đang chiếu
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            
            <a href="#" class="movie-item">
                <img src="~/Content/Images/the-batman.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        The Batman
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>

                    </div>
                </a>

            <a href="#" class="movie-item">
                <img src="~/Content/Images/captain-marvel.png" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Captain Marvel
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/long.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Shang Chi
                    </div>
                    <div class="btn2">

                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/meme.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Kong vs Godzilla
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href='@Url.Action("Noidung","Home")' class="movie-item">

                <img src="~/Content/Images/demon-slayer.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Thanh gươm diệt quỷ
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/weathering.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Weathering with You
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                    </div>
                </a>
                </div>
            
        </div>
    </div>

<div class="section">
    <div class="container">
        <div class="section-header">
            Phim sắp chiếu
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            
            <a href="#" class="movie-item">
                <img src="~/Content/Images/vobau.png" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Vợ Bầu
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/tokyo ghour.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Tokyo Ghour
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/dragon.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Dragon Ball: Super
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/the-falcon.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        The Falcon
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/end-game.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Avengers:Endgame
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
            <a href="#" class="movie-item">
                <img src="~/Content/Images/tamcam.png" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Tấm Cám
                    </div>
                    <div class="btn2">
                        <input type="button" value="Mua vé" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

